body {
  margin: 0px;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.container1{
  min-width: 100vw;
  min-height: 100vh;
  background: #6C7A89;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center
}
.box {
  max-width: 400px;
  height: 100%;
  background-image: url('./img/Fundos/fundo.jpg');
  background-position: center; /* Center the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  border-radius: 20px;
}

.logo{
  padding: 10px;
  align-content: center;
  text-align: center;
}
.div-tel{
  text-align: center;
  background-color: ()
}

.Telefone{
  background: linear-gradient(90deg, rgba(55,213,193,1) 0%, rgba(137,225,117,1) 100%);
  border-radius: 100px;
  padding: 10px;
  width: 80%;
}
.logo img{
  font-size: 20%;
  width: 40%;
}

.text-center{
  text-align: center;
}
.text-center p{
  color: #fff;
  padding: 10px;
  font-size: 80%;
}


